@import './Default';

.add-new-film-body {

  // Alerts
  & > .body__alert {
    font-size: 1.7rem;
    border-radius: 0;
    border: 0;
    opacity: 0.7;

    // Mobile devices => decrease font-size
    @media screen and (max-width: 414px) {
      & {
        font-size: 1.4rem;
      }
    }
  }

  & > .alert--info {
    background-color: $blue-color;
    color: #FFFFFF;
  }

  & > .alert--error {
    background-color: red;
    color: #FFFFFF;
  }

  & > .alert--success {
    background-color: yellow;
    color: #000000;
  }

  // Buttons
  // Second one is for test button. Delete.
  & > form > .body__button,
  & > .body__button {
    margin: 10px 0;

    &:active, &:focus {
      background-color: $blue-color;
      color: #FFFFFF;
    }
  }
}