@import './Default';

.add-new-film-form-body {

  // Input forms
  // Labels for inputs
  & > .body__label {
    width: 170px;
    font-size: 2.5rem;
    /*margin: 0;
    padding: 7px 0;*/
  }

  // Label for textarea
  & > .label--textarea {
    display: block;
  }

  // Input forms
  & > .body__input {
    width: calc(100% - 205px);
    max-width: 350px;
    padding: 5px;
    margin-bottom: 10px;
  }

  // Text area
  & > .body__textarea {
    resize: none;
    width: calc(100% - 31px);
    max-width: 525px;
    height: 150px;
    padding: 5px;
  }

  // Icons
  & > .body__icon {
    padding: 5px;
  }

  // Last icon for textarea
  & > .body__icon--last {
    vertical-align: top;
  }
}

// Mobile devices => decrease font-size and give input full width:
// for 414px and 375px => 91% + icon-width = 100%
@media screen and (max-width: 414px) {

  .add-new-film-form-body {

    & > .body__label {
      font-size: 2rem;
    }

    & > .body__input,
    & > .body__textarea {
      width: 89%;
    }

  }
}