@import "./Default";

// absolute + bottom => stay on the bottom
.footer-body {
  width: 100%;
  background-color: $blue-color;
  border-top: 5px solid #ffffff;
  position: absolute;
  bottom: 0;

  & > h3 {
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }
}