@import "./Default";

// Header + Navigation Bar
.nav-bar-body {

  // Header with "Films.de"
  .body__header > h3 {
    margin: 0;
    color: $blue-color;
    font-weight: bolder;
    padding: 10px 0 10px 20px;
    font-size: 3rem;
  }

  //Navigation Bar
  // flex + stretch => children take full height
  .body__main {
    background-color: $blue-color;
    border: 0;
    border-radius: 0;
    border-bottom: 5px solid $green-color;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    // HOME Button in Header
    // Float: left => dont collapse navbar for mobile devices
    & > .main__header {
      border-right: 5px solid #FFFFFF;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      // top: 3px => icon in the middle
      & > a {
        font-size: 3rem;
        padding: 3px 10px 0 10px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;

        &:hover, &:focus {
          opacity: 0.5;
        }
      }
    }

    // Navigation list with dropdown "Films, Actors, ..."
    & > .main__body {
      left: 55px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      // Container "Films" ("Actors", ...)
      & > .dropdown {

        // Button "Films" style
        & > .body__dropdown--button {
          background-color: $blue-color;
          border: 0;
          font-size: 3rem;
          color: #FFFFFF;
          padding: 0 5px 0 10px;
        }

        // Dropdown menu style
        & > .dropdown-menu > li > a {
          font-size: 2rem;
          color: #000000;

          // Dropdown menu on mouseover or focus
          &:hover, &:focus {
            background-color: $blue-color;
            opacity: 0.5;
            color: #FFFFFF;
          }
        }

        // Button "Films" on mouseover or focus
        &:hover, &:focus {
          & > .body__dropdown--button {
            &:hover, &:focus {
              opacity: 0.5;
            }
          }
        }
      }

      & > a {
        font-size: 3rem;
        padding: 0 10px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}