@import "./Default";

.top-movies-body {
  & > h1 {
    display: inline-block;
  }

  // Buttons to toggle rating (critics / user)
  & > .body__button--sort {
    float: right;
    margin: 20px 0 0 5px;

    &:focus {
      background-color: $blue-color;
      color: #FFFFFF;
    }
  }
}

/**
Mobile devices
Display buttons on the next line together with full width
 */
@media screen and (max-width: 425px) {
  .top-movies-body {
    & > h1 {
      display: block;
    }

    & > .body__button--sort{
      float: none;
      width: 50%;
      margin: 0 0 10px 0;
    }
  }
}