@import "./Default";

.best-movie-body {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  // Panel header
  & > .panel__panel-header {
    background-color: $blue-color;
    border-radius: 0;
    border: 0;
    padding: 5px;

    // Film name
    & > h3 {
      color: #FFFFFF;
      font-size: 2rem;
      margin: 10px;

      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }

    // Body to hide and show
    & > .panel-header__panel-body {
      background-color: #FFFFFF;
      color: #000000;
      padding: 15px;
      display: flex;

      // Movie poster
      & > .panel-body__movie-poster {
        width: 30%;
        margin-right: 20px;

        & > a {
          height: 100%;
          display: flex;

          & > img {
            margin: auto;
            width: 150px;
            height: 225px;
            border-radius: 10%;
            border: 2px solid #000000;
          }
        }
      }

      // Description + Actors + Rating
      & > .panel-body__film-body {
        max-width: 80%;

        // Movie description
        & > .film-body__movie-synopsis > p {
          font-size: 2rem;
          font-style: italic;
          text-align: justify;
        }

        // Movie actors list
        & > .film-body__movie-actors {
          display: inline-block;
          width: 60%;

          & > h3 {
            margin: 0;
            text-align: center;
            font-size: 3rem;
          }

          & > ul {
            margin: 0;
            text-align: center;
            padding-left: 0;

            & > li {
              display: inline;
              font-size: 2rem;

              & > a {
                color: #000000;
              }

              & > a:hover {
                text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
              }
            }
          }
        }

        // Movie ratings
        & > .film-body__film-rating {
          float: right;
          width: 40%;

          & > h3 {
            margin: 0;
            text-align: center;
            font-size: 3rem;
          }

          & > div {
            text-align: center;
            font-size: 2rem;
          }
        }
      }
    }

    // show panel after click
    & > .panel-header__panel-body--show {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
}

/**
Tablet and mobile devices
Poster as a block with full width
Decrease font-size
 */
@media screen and (max-width: 812px) {
  .best-movie-body > .panel__panel-header > .panel-header__panel-body {
    display: block;

    & > .panel-body__movie-poster {
      width: 100%;
      margin-bottom: 21px;
    }

    & > .panel-body__film-body {
      max-width: none;
      font-size: 0.75em;

      & > .film-body__movie-synopsis > p {
        font-size: 1.5rem;
      }
    }
  }
}