@import "./Default";

// Main container
.view-all-movies-body {
  position: relative;
  height: 100%;

  // Header with page title and sort button
  & > .body__header {
    height: 45px;
    margin: 20px 0 30px 0;

    & > h1 {
      float: left;
      margin: 0;
    }

    // dropdown button
    & > .header__dropdown {
      position: relative;
      float: right;

      // show menu on hover
      &:hover .dropdown__list {
        display: block;
      }

      // menu
      & > .dropdown__list {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        margin-top: -3px;
        background-color: #FFFFFF;
        border: 2px solid $blue-color;
        border-top: 0;

        // links in menu
        & > button {
          width: 100%;
          display: block;
          padding: 0 0 0 5px;
          text-align: left;
          background-color: #FFFFFF;
          color: $blue-color;
          border: 0 !important;
          outline: 0 !important;

          &:hover {
            background-color: $blue-color;
            color: #FFFFFF;
            opacity: 0.5;
            cursor: pointer;
          }
        }
      }
    }
  }

  // Table with films
  & > .body__table {
    font-size: 2rem;
    border-collapse: separate;
    width: 100%;

    // Set column width (5% - X% - 10% - 10% - 10% - 10%)
    & > colgroup {
      & > .table__row--ten {
        width: 10%;
      }

      & > .table__row--five {
        width: 5%;
      }
    }

    // Table row
    & > tbody > tr {
      // Row with headers
      & > th {
        text-align: center;
        border-bottom: 2px solid #000000;
        padding: 5px;
      }

      // Rows with films
      & > td {
        text-align: center;
        border-bottom: 1px solid #000000;
        padding: 5px;

        // Each name is a link to the IMDB.com
        & > a {
          color: #000000;

          &:hover {
            text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
          }
        }

        // Button in the last column (SHOW actors)
        & > .td-actor__button {
          background-color: transparent;
          border: 0;
        }
      }

      // change actor button when pressed
      & > .table__td-actor--show {
        background-color: $blue-color;
        color: #FFFFFF;
        border: 1px solid #000000;
        border-top: 0;
        border-bottom: 0;
      }

      // Align the second column ( NAME ) to the left
      :nth-child(2) {
        text-align: left;
      }

      // Hidden actors row
      & > .table__td-all-actors {
        background-color: $blue-color;
        border-right: 1px solid #000000;
        border-left: 1px solid #000000;

        // Every actor
        & > a {
          color: #FFFFFF;
          text-align: center;
          display: inline-block;
          width: 20%;

          &:hover {
            text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
          }
        }
      }
    }

    // some distance for last row
    &:last-child {
      padding-bottom: 10px;
    }
  }

  // set header, dropdown button and actor list to the middle
  // decrease font-size
  @media screen and (max-width: 425px) {
    .body__header {
      & > h1 {
        text-align: center;
        width: 100%;
      }
      & > .header__dropdown {
        width: 100%;

        & > .dropdown__button {
          width: 100%;
        }

        & > .dropdown__list {
          margin-left: 0 !important;
          width: 100% !important;

          & > button {
            text-align: center;
          }
        }
      }
    }

    & > .body__table {
      font-size: 1.3rem;

      & > tbody > tr .table__td-all-actors a{
        width: 100%;
      }
    }
  }
}