@import "./code/Default";

@font-face {
  font-family: Exxcellent;
  src: url('./fonts/pfdintextpro-light.woff');
}

// relative + padding-bootom => footer always downstairs
.app-body{
  font-family: Exxcellent, "Times New Roman", serif ;
  position: relative;
  padding-bottom: 50px;

  // min-height => always take full page space (min)
  & > .body__main-cont {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to($blue-color));
    background: linear-gradient(#FFFFFF, $blue-color);
    padding: 50px;
    min-height: 86vh;
    position: relative;
  }
}

// All elements
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  margin: 0;
}

input {
  font-size: 1.7rem;
}

// remove spinners on number input
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// increase placeholders font size
input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input::placeholder {
  font-size: 1.7rem;
}

// white links with no decoration
a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer !important;

  &:hover, &:focus {
    text-decoration: none;
    color: #FFFFFF;
  }
}

// remove browsers outline
button {
  outline: 0 !important;
  cursor: pointer !important;
}

// custom buttons
.button--custom {
  background-color: $blue-color;
  border-radius: 0;
  border: 2px solid $blue-color !important;
  font-size: 2rem;
  color: #FFFFFF;

  &:hover, &:focus, &:active:hover {
    background-color: #FFFFFF;
    color: $blue-color;
  }
}

// responsive
@media screen and (max-width: 425px) {
  .app-body .body__main-cont {
    padding: 20px;
  }

  .button--custom {
    font-size: 1.5rem;
  }
}